{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/email_confirm.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="email-confirmform-container">
    <h1 class = "tango">BeWorder</h1>
    <div class="title">アカウント作成</div>
    <form method="POST" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
        <p class="email-confirmform-text">メールアドレスを認証してください。</p>
        <button type="submit" class="email-confirm-btn">認証</button>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}