{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_from_key_done.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-from-key-done-container">
    <h1 class = "tango">BeWorder</h1>
    <h1>パスワードリセット</h1>
    <div>
        <p class="password-reset-form-key-done-text">パスワードが変更されました。</p>
        <a class="login-link-btn" href="{% url 'account_login' %}">ログイン画面へ</a>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}