{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_from_key.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-form-container">
    <h1 class = "tango">BeWorder</h1>
    <div class="title">パスワードリセット</div>
    <form method="POST">
        {% csrf_token %}
        <p class="password-reset-form-text">新しいパスワードの設定を行なってください。</p>
        <div class="password-reset-form-field">
            {{ form.password1 }}
        </div>
        <div class="password-reset-form-field">
            {{ form.password2 }}
        </div>
        <div class="password-error">
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="password-error-text">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        </div>
        <button type="submit" class="password-reset-form-btn">パスワード登録</button>
        <p class="cancel-link">
            <a href="javascript:window.history.back()">
                <span>キャンセル</span>
            </a>
        </p>
    </form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}