{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/password_reset.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-form-container">
    <h1 class = "tango">BeWorder</h1>
    <div class="title">パスワードリセット</div>
    <p class="description">パスワードリセットのために、パスワードリセット用のリンクを送るメールアドレスを入力してください。</p>
    <form method="POST">
        {% csrf_token %}
        {% if form.errors %}
        <div class="password-reset-form-error">{{form.email.errors}}</div>
        {% endif %}
        <div class="password-reset-form-field">
            {{ form.email }}
        </div>
        <button type="submit" class="password-reset-form-btn">認証コードを送信</button>
    </form>
    <p class="cancel-link">
        <a href="javascript:window.history.back()">
            <span>キャンセル</span>
        </a>
    </p>
</div>
{% endblock %}

{% block footer %}
{% endblock %}