{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/password_reset_done.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="password-reset-container">
    <h1 class = "tango">BeWorder</h1>
    <div class="title">パスワードリセット</div>
    <div class="password-change">
        <p class="password-reset-text">電子メールを送信しました。受信していない場合は、迷惑フォルダを確認してください。数分たっても受信しない場合は、お問い合わせください。</p>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}