{% extends "account/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'account/css/signup.css' %}">
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
<div class="signup-form-container">
    <h1 class = "tango">BeWorder</h1>
    <div class="title">アカウント作成</div>
    <form method="POST">
        {% csrf_token %}
        <div class="signup-form-field">
            {{ form.username }}
        </div>
        <div class="signup-form-field">
            {{ form.email }}
        </div>
        <div class="signup-form-field">
            {{ form.password1 }}
        </div>
        <div class="signup-form-field">
            {{ form.password2 }}
        </div>
        <div class="confirm-checkbox">
            {{ form.checkbox }}
            利用規約とプライバシーポリシーに同意する
        </div>
        <button type="submit" class="signup-form-btn">認証コード送信</button>
    </form>
    {% if form.errors %}
    <div class="signup-error-container">
        {% for field in form %}
            {% for error in field.errors %}
            <div class="signup-error-text">{{ error }}</div>
            {% endfor %}
        {% endfor %}
    </div>
    {% endif %}
    <p class="caption">
        アカウントを既にお持ちですか？
        <a href="{% url 'account_login' %}">
            <span>ログイン</span>
        </a>
    </p>
    <br>
</div>
{% endblock %}

{% block footer %}
<footer>
    <div class="footer-container">
        <a href="">利用規約</a>
        ・
        <a href="">プライバシーポリシー</a>
    </div>
</footer>
{% endblock %}