h1 {
    text-align: center;
    padding: 0;
}

span {
    color: #2B8F38;
}

.title {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 24px;
}

.password-reset-form-text {
    margin-bottom: 24px;
}

.password-reset-form-container {
    margin-top: 50px;
    padding: 0 4vw;
}

#id_password1,#id_password2 {
    width: 100%;
    height: 50px;
    border-radius: 8px;
    appearance: none;
    border: 1px solid #ccc;
    font-size: 120%;
    box-sizing: border-box;
    padding: 5px 10px;
}

.password-reset-form-field {
    margin-bottom: 40px;
}

.password-reset-form-btn {
    width: 100%;
    background-color: #2B8F38;
    border: 1px solid #2B8F38;
    color: white;
    border-radius: 100vh;
    margin: 30px 0;
    display: block;
    padding: 8.5px 0;
    text-align: center;
}

.cancel-link {
    text-align: center;
}

.registration-link {
    padding-bottom: 24px;
}

.discription {
    margin: 0 12px;
}

.password-error-text {
    color: red;
}