<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeWorder</title>
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    {% block extra_style %}{% endblock %}
</head>

<body>
    {% block header %}
    {% if request.user.is_authenticated %}
    <header class="header">
        <div class="header__item">
            <div class="header__title">
                {% block header_title %}<a href="{% url 'main:home' %}" class = "tango">BeWorder</a>{% endblock %}
            </div>
        </div>
        <div class="header_form">
            <form action="{% url 'main:words_list' %}" method="GET">
                {{ search_form.keyword }}
            </form>
        </div>
    </header>
    {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    {% if request.user.is_authenticated %}
    <footer class="footer">
        <div class="footer__item">
            <a href="{% url 'main:home' %}" class="footer__link">
                <div class="footer__icon"><i class="fas fa-home"></i></div>
                <div class="footer__label">ホーム</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'main:word_upload' %}" class="footer__link">
                <div class="footer__icon"><i class="far fa-times-circle upload-icon"></i></div>
                <div class="footer__label">単語を投稿</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="{% url 'main:quiz' %}" class="footer__link">
                <div class="footer__icon"><i class="fa-regular fa-bell"></i></div>
                <div class="footer__label">単語クイズに挑戦</div>
            </a>
        </div>
        <div class="footer__item">
            <a href="" class="footer__link">
                <div class="footer__icon"><i class="fas fa-user"></i></div>
                <div class="footer__label">アカウント</div>
            </a>
        </div>
    </footer>
    {% else %}
    <div class="others">
        <div class="rules">
            <a href="" class="terms">利用規約</a>・
            <a href="" class="policy">プライバシーポリシー</a>
        </div>
    </div>
    {% endif %}
    {% endblock %}
    {% block extra_js %}{% endblock %}
</body>

</html>