{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="new-product-container">
    <h1>新着の単語</h1>
        {% for word in words %}
        <li class="word-item">
            <a href="{% url 'main:words_detail' word.pk %}">
                <p class="word-title">{{ word.name }}</p>
            </a>
        </li>
        {% endfor %}
</div>
<div class="genre-container">
    <h1>ジャンルから探す</h1>
    <ul class="genre-list">
        {% for genre in genres %}
        <li class="genre-item">
            <a href="">
                <input type="hidden" value="{{ genre.name }}">
                <p class="genre-title">{{ genre.name }}</p>
                <img src="{{ genre.image.url }}" class="genre-img">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}