{% extends "main/base.html" %}
{% load static %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'main/css/words_detail.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
{% endblock %}

{% block content %}
<div class="word_detail">
    <div class="word">・{{ words.name }}</div>
    <p class="word_yaku">・・・{{ words.yaku }}</p>
</div>
<div class="reibun-container">
    <div class="reibunn">例文</div>
    <p class="genre-title">{{ words.ex_1 }}</p>
    <p class="genre-title">{{ words.ex_1_yaku }}</p>
</div>
<div class="product-like-button">
    {% if words.is_liked %}
    <form method="POST" action="{% url 'main:unlike' words.pk %}">
        {% csrf_token %}
        <div class="like-container">
            <button type="submit" class="product-unlike-btn">&hearts;</button>
            <p class="like-count-liked">{{ words.likes_count }}</p>
        </div>
    </form>
    {% else %}
    <form method="POST" action="{% url 'main:like' words.pk %}">
        {% csrf_token %}
        <div class="like-container">
            <button type="submit" class="product-like-btn">&hearts;</button>
            <p class="like-count">{{ words.likes_count }}</p>
        </div>
    </form>
    {% endif %}
</div>
<div class="questioner">出題者:{{ words.questioner }}</div>
{% endblock %}