
.word_detail{
    margin-left:5%;
    display:flex;
    flex-wrap:nowrap;
    align-items: center;
}

.product-like-button {
    text-align: center;
}

button{
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border:0;
    background-color: white;
    font-size:30px;
}

.word_yaku{
    margin-left:5px;
    font-size:20px
}

.word{
    font-size:25px;
}

.reibun-container{
    margin-top:20px;
    margin-left:5%;
}

.reibunn{
    font-size: 25px;
    font-weight: 900;
}

.genre-title{
    font-size:20px;
}

.questioner{
    margin-left:5%;
    margin-top:30px;
}

.product-unlike-btn {
    text-align: center;
    color:rgb(255, 131, 224)
}

.product-like-btn {
    text-align: center;
    color:rgb(124, 124, 124)
}



